{
  parser: 'babel-eslint',
  parserOptions: {
    sourceType: 'module',
    allowImportExportEverywhere: true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["draftState"]
    }]
  }
}
